<!-- <p>carrera-tecnica works!</p> -->
<mat-card>
    <h2 class="alinear">Listado de Jornadas</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Buscar categoria" appearance="fill">
                <mat-label>Buscar jornadas</mat-label>
                <input matInput #input>
            </mat-form-field>
        </div>
    </mat-card-header>
    <mat-card-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button (click)="openFormJornadas()" mat-raised-button color="primary">Agregar Jornadas
                    </button>
                </li>
            </ul>
        </div>
    </mat-card-header>

    <mat-card-content>
        <table mat-table class="mat-cell" [dataSource]="dataSource">
            <ng-container matColumnDef="jornadaId">
                <th mat-header-cell *matHeaderCellDef>ID JORNADA</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element">
                        {{element.jornadaId}}

                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="nombreCorto">
                <th mat-header-cell *matHeaderCellDef>NOMBRE CORTO</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element">
                        {{element.nombreCorto}}

                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>DESCRIPCION</th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element">
                        {{element.descripcion}}

                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element; let i=index;">
                    <button mat-icon-button (click)="editJornada(element.jornadaId, element.descripcion)" color="accent">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                   </button>
                   <button mat-icon-button color="accent" (click)="deleteJornada(element.jornadaId)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
               </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions] ="[5,10,20]" showFirstLastButtons>
        </mat-paginator>

    </mat-card-content>
</mat-card>
